<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0 maximum-scale=1.0">
  <title>NYSL - Password reset</title>
  <link rel="manifest" href="scripts/manifest.webmanifest">
  <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.9/pwacompat.min.js" integrity="sha384-VcI6S+HIsE80FVM1jgbd6WDFhzKYA0PecD/LcIyMQpT4fMJdijBh0I7Iblaacawc" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="img/nysl_logo.png" sizes="393x393" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/7ee24f2fb3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div id="app" class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="alineado-texto">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <template v-if="resetPassPage == 0">
                <h2 class="alineado-texto">Forgot Password?</h2>
                <p>You can reset your password here.</p>
                <div class="panel-body">
                  <form class="form">
                    <fieldset>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="emailInput" v-model:value="userEmail" placeholder="E-Mail address" class="form-control" type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block color-botones" value="Send password reset E-Mail" type="button" v-on:click="resetPassEMail">
                      </div>
                    </fieldset>
                  </form>
                </div>
                </template>
                <template v-if="resetPassPage == 1">
                <h2 class="alineado-texto">E-MAIL SENT</h2>
                <p>Please check your inbox and follow instructions.</p>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <script src="/__/firebase/7.0.0/firebase-app.js"></script>
  <script src="/__/firebase/7.0.0/firebase-auth.js"></script>
  <script src="/__/firebase/7.0.0/firebase-database.js"></script>
  <script src="/__/firebase/7.0.0/firebase-analytics.js"></script>
  <script src="/__/firebase/init.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/chat.js"></script>
</body>

</html>
